.project-list-form {
  padding: 1.5rem;
  background: #fafafa;
  border-radius: 10px;
  border: 1px solid #e5e7eb;
}

.project-list-form h3 {
  margin: 0;
  margin-top: 1rem;

  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  color: #222;
}

.project-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
}

.project-form label {
  font-size: 0.95rem;
  font-weight: 600;
  color: #333;
}

.input-box {
  display: flex;
  gap: 1rem;
  width: 100%;
}

.form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.project-form input,
.project-form textarea {
  width: 100%;
  padding: 0.85rem 1rem;
  border: 1px solid #dcdcdc;
  border-radius: 8px;
  outline: none;
  font-size: 0.95rem;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .input-box {
    flex-direction: column;
  }
}

/* .project-form input,
.project-form textarea {
  width: 100%;
  padding: 0.85rem 1rem;
  border: 1px solid #dcdcdc;
  border-radius: 8px;
  outline: none;
  font-size: 0.95rem;
  transition: 0.3s;
  box-sizing: border-box;
} */

.project-form input:focus,
.project-form textarea:focus {
  border-color: #2563eb;
}

.project-form textarea {
  resize: vertical;
  min-height: 120px;
}

.project-form input[type='file'] {
  /* padding: 0.6rem;
  cursor: pointer; */
  width: 100%;
  padding: 12px;
  margin-bottom: 16px;
  border: 2px dashed #d1d5db;
  border-radius: 10px;
  cursor: pointer;
  box-sizing: border-box;
}

.project-form input[type='file']:hover {
  border-color: #2563eb;
}

.image-preview-box {
  position: relative;
  width: fit-content;
  margin-top: 0.8rem;
}

.preview-img {
  width: 220px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
  border: 1px solid #ddd;
}

.remove-image-btn {
  position: absolute;
  top: -8px;
  right: -8px;
  width: 28px;
  height: 28px;
  border: none;
  border-radius: 50%;
  background: #dc2626;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.remove-image-btn lucide-icon {
  width: 16px;
  height: 16px;
}

/* .preview-img {
  width: 100%;
  max-width: 250px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
  border: 1px solid #ddd;
} */

.tech-input {
  display: flex;
  gap: 0.75rem;
}

.tech-input input {
  flex: 1;
}

.tech-input button {
  padding: 0.85rem 1.25rem;
  border: none;
  border-radius: 8px;
  background: #2563eb;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.tech-input button:hover {
  background: #1d4ed8;
}

.tech-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
}

.tech-list span {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background: #eff6ff;
  color: #2563eb;
  border: 1px solid #bfdbfe;
  padding: 0.5rem 0.75rem;
  border-radius: 999px;
  font-size: 0.9rem;
}

.tech-list span button {
  border: none;
  background: transparent;
  color: #dc2626;
  font-size: 1rem;
  cursor: pointer;
  padding: 0;
}

.button-box {
  display: flex;
  justify-content: flex-end;
}

.button-box button {
  padding: 0.9rem 1.5rem;
  border: none;
  border-radius: 8px;
  background: #2563eb;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

.button-box button:hover:not(:disabled) {
  background: #1d4ed8;
}

.button-box button:disabled {
  background: #9ca3af;
  cursor: not-allowed;
}

/* .project-form > button[type='submit'] {
  margin-top: 1rem;
  padding: 0.9rem 1.5rem;
  border: none;
  border-radius: 8px;
  background: #16a34a;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.project-form > button[type='submit']:hover:not(:disabled) {
  background: #15803d;
}

.project-form > button[type='submit']:disabled {
  background: #9ca3af;
  cursor: not-allowed;
} */

/* // import { Component, DestroyRef, effect, inject, input, output, signal } from '@angular/core';
// import { ProjectService } from '../../../../core/services/project.service';
// import { Router } from '@angular/router';
// import { SnackBarService } from '../../../../core/services/snack-bar.service';
// import { Project, ProjectForm } from '../../../../models/project.model';

// @Component({
//   selector: 'app-admin-project-form',
//   standalone: true,
//   imports: [],
//   templateUrl: './admin-project-form.html',
//   styleUrl: './admin-project-form.css',
// })
// export class AdminProjectForm {
//   editData = input<Project | null>(null);
//   closeForm = output<Project>();

//   private projectService = inject(ProjectService);
//   private router = inject(Router);
//   private snackBarService = inject(SnackBarService);
//   private destroyRef = inject(DestroyRef);

//   loading = signal(false);
//   imagePreview = signal<string | null>(null);
//   technologyInput = signal('');

//   projects = signal<ProjectForm>({
//     title: '',
//     description: '',
//     category: '',
//     imageFile: null,
//     technologies: [],
//     liveUrl: '',
//     githubUrl: '',
//   });

//   constructor() {
//     effect(() => {
//       const project = this.editData();

//       if (project) {
//         this.projects.set({
//           title: project.title,
//           description: project.description,
//           category: project.category,
//           imageFile: null,
//           technologies: project.technologies || [],
//           liveUrl: project.liveUrl || '',
//           githubUrl: project.githubUrl || '',
//         });

//         this.imagePreview.set(project.image ?? null);
//       }
//     });
//   }

//   updateField(field: keyof ProjectForm, value: string) {
//     this.projects.update((project) => ({
//       ...project,
//       [field]: value,
//     }));
//   }

//   onImageSelected(event: Event) {
//     const file = (event.target as HTMLInputElement).files?.[0];

//     if (!file) {
//       return;
//     }

//     this.projects.update((project) => ({
//       ...project,
//       imageFile: file,
//     }));

//     this.imagePreview.set(URL.createObjectURL(file));
//   }

//   addTechnology() {
//     const value = this.technologyInput().trim();

//     if (!value) {
//       return;
//     }

//     this.projects.update((project) => ({
//       ...project,
//       technologies: [...project.technologies, value],
//     }));

//     this.technologyInput.set('');
//   }

//   removeTechnology(index: number) {
//     this.projects.update((project) => ({
//       ...project,
//       technologies: project.technologies.filter((_, i) => i !== index),
//     }));
//   }

//   submitProject() {
//     const form = this.projects();
//     const editProject = this.editData();

//     if (!form.title || !form.description || !form.category) {
//       this.snackBarService.error('Title, description and category are required');
//       return;
//     }

//     if (!editProject && !form.imageFile) {
//       this.snackBarService.error('Project image is required');
//       return;
//     }

//     const formData = new FormData();

//     formData.append('title', form.title);
//     formData.append('description', form.description);
//     formData.append('category', form.category);
//     formData.append('technologies', JSON.stringify(form.technologies));
//     formData.append('liveUrl', form.liveUrl);
//     formData.append('githubUrl', form.githubUrl);

//     if (form.imageFile) {
//       formData.append('image', form.imageFile);
//     }

//     this.loading.set(true);

//     const projectUpdate = editProject
//       ? this.projectService.updateProject(editProject._id, formData)
//       : this.projectService.createProject(formData);

//     projectUpdate.subscribe({
//       next: (res) => {
//         this.loading.set(false);
//         this.snackBarService.success(res.message);
//         this.closeForm.emit(res.project);
//       },

//       error: (err) => {
//         this.loading.set(false);
//         this.snackBarService.error(err.error?.message || 'Something went wrong');
//         console.log(err);
//       },
//     });
//   }
// } */
