<div class="resume-admin">
  <h3>Resume Management</h3>

  <input
    type="text"
    placeholder="Paste Google Drive resume link..."
    [value]="resumeUrl()"
    (input)="resumeUrl.set($any($event.target).value)"
  />

  <div class="button-wrapper">
    <button (click)="saveResume()" [disabled]="saving()">
      {{ saving() ? 'Saving...' : 'Save Resume Link' }}
    </button>
  </div>

  @if (message()) {
    <p>{{ message() }}</p>
  }
</div>

<!-- <div class="resume-upload">
  <h3>Upload Resume</h3>

  <input type="file" accept=".pdf" (change)="onFileSelect($event)" />

  <button (click)="uploadResume()" [disabled]="!selectedFile() || uploading()">
    {{ uploading() ? 'Uploading...' : 'Upload Resume' }}
  </button>

  @if (message()) {
    <p>{{ message() }}</p>
  }
</div> -->
