* {
  box-sizing: border-box;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  padding: 0 8vw;

  background: var(--navbar-bg);
  color: var(--text-color);

  /* background: #0f172a;
  color: #f8fafc; */
  transition: 0.3s ease;
}

/* .navbar.scrolled {
  background: rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(14px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.35);
  border-bottom: 10px #0f172a;
} */
.navbar.scrolled {
  background: rgba(255, 255, 255, 0);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);

  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
}

:host-context(.dark-theme) .navbar.scrolled {
  background: rgba(2, 6, 23, 0.85);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.nav-container {
  padding: 1.5rem 0;
  /* height: 72px; */
  display: flex;
  align-items: center;
  position: relative;
}

.logo {
  margin-right: auto;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 800;
  font-style: italic;
  white-space: nowrap;
  cursor: pointer;
}

.logo-left {
  background: linear-gradient(to right, var(--logo-start), var(--logo-middle), #a855f7);
  -webkit-background-clip: text;
  color: transparent;
}

/* .logo-left {
  background: linear-gradient(to right, #ffffff, #9ca3af, #a855f7);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
} */

.logo-right {
  background: linear-gradient(to right, #a855f7, #ef4444, #f97316);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 8px;
  margin: 0 auto;
  padding: 0;
}

.nav-links button {
  background: transparent;
  border: none;
  color: inherit;
  padding: 10px 16px;
  cursor: pointer;
  font-size: 1rem;
}

.nav-links li {
  color: var(--text-color);
}

.nav-links li:hover,
.nav-links li.active {
  color: #2563eb;
}

.nav-links span {
  display: block;
  height: 2px;
  width: 0;
  background: #2563eb;
  transition: 0.4s ease;
}

.nav-links li:hover span,
.nav-links li.active span {
  width: 100%;
}

.desktop-theme {
  display: flex;
  margin-left: auto;
}

.mobile-actions {
  display: none;
  align-items: center;
  gap: 14px;
}

.theme-btn,
.menu-btn {
  background: transparent;
  border: none;
  color: inherit;
  font-size: 1.5rem;
  cursor: pointer;
  line-height: 1;
}

.mobile-menu {
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  width: 85%;
  background: rgba(5, 4, 20, 0.85);
  backdrop-filter: blur(14px);
  border-radius: 14px;
  box-shadow: 0 12px 35px rgba(0, 0, 0, 0.45);
}

.mobile-menu ul {
  list-style: none;
  padding: 20px;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
}

.mobile-menu button {
  background: transparent;
  border: none;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

.mobile-menu li.active button,
.mobile-menu button:hover {
  color: #8245ec;
}

@media (max-width: 992px) {
  .navbar {
    padding: 0 5vw;
  }

  .nav-links button {
    padding: 10px 10px;
    font-size: 0.9rem;
  }

  .logo {
    font-size: 1.4rem;
  }
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .desktop-theme {
    display: none;
  }

  .mobile-actions {
    display: flex;
    margin-left: auto;
  }

  .logo {
    font-size: 1.25rem;
    margin-right: 0;
  }
}
