<section id="about" class="about-section">
  <div class="about-container">
    <div class="section-title">
      <h2>About Me</h2>
      <div class="title-line"></div>
    </div>

    <div class="about-card">
      <div class="about-image">
        <img src="assets/images/about.jpg" alt="About Debabrata Das" />
      </div>

      <div class="about-content">
        <p class="about-description" [innerHTML]="abouts().description"></p>

        <div class="info-list">
          <div class="info-item">
            <span>
              <lucide-icon name="mail"></lucide-icon>
            </span>
            <p>{{ abouts().email }}</p>
          </div>

          <div class="info-item">
            <span>
              <lucide-icon name="map-pin"></lucide-icon>
            </span>
            <p>{{ abouts().location }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
